<% unless comment.new_record? %>
	<div class="comment content">
		<%= comment.body %>
		<%= link_to 'Edit', edit_comment_path(comment) %> 
		<%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %>
	</div>
<% end %>
