<h1>All Articles</h1>

<% @articles.each do |article| %> <!-- Database query --> 
  <div>
    <%= styled_link_to_article(article) %>
  </div>
<% end %>

<br>

<div>
  <%= link_to 'New Article', new_article_path %>
</div>
